{% macro translations_for(article) %}
{% if article.translations %}
<p>
Translations:
{% for translation in article.translations|sort(attribute='lang') %}
<a href="{{ SITEURL }}/{{ translation.url }}" hreflang="{{ translation.lang }}">{{ translation.lang }}</a>
{% endfor %}
</p>
{% endif %}
{% endmacro %}
